.filters {
    display: flex;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: 26%;
}

button:hover {
    opacity: 90%;
}

.locations {
    height: 100%;
    width: 25%;
    border-right: solid #DDDDDD 1px;
    text-indent: 23%;
}

.amenities {
    height: 100%;
    width: 25%;
    text-indent: 23%;
}

.locations h3 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.amenities h3 {
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    padding: 0;
}

.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 6px;
    padding: 0;
}

.amenities .popover {
    display: none;
    background-color: #FAFAFA;
    max-width: inherit;
	height: 22em;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    padding-top: 8%;
    padding-bottom: 8%;
    text-indent: 6%;
    position: relative;
	overflow-y: scroll;
}

.locations .popover li {
    text-indent: 3%;
    margin: 3%;
}

.amenities .popover li {
    list-style: none;
    margin: 4%;
}

.locations .popover {
    display: none;
    background-color: #FAFAFA;
    max-width: inherit;
	height: 22em;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    padding-top: 5%;
    padding-bottom: 10%;
    position: relative;
	overflow-y: scroll;
}

.locations .popover h2 {
    text-indent: -3%;
    font-size: 20px;
    margin: 10%;
}

.locations .popover h4 {
	margin: 5%;
}

.locations .popover li {
    list-style-type: none;
    text-indent: -24%;
}

.locations:hover .popover {
    display: block;
}

.amenities:hover .popover {
    display: block;
}