<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnB clone</title>
    <link rel="shortcut icon" href="../static/images/icon.ico" >

    <link rel="stylesheet" href="../static/styles/4-common.css"/>
    <link rel="stylesheet" href="../static/styles/3-header.css"/>
    <link rel="stylesheet" href="../static/styles/3-footer.css"/>
    <link rel="stylesheet" href="../static/styles/6-filters.css"/>
</head>
<body>
    <header>
    </header>
    <div class="betw">
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
					<ul class="popover">
                        {% for state in cons.values() | sort(attribute="name") %}
						<li><h2>{{ state.name }}</h2>
							<ul>
                                {% for city in state.cities | sort(attribute="name") %}
								<li><h4>{{ city.name }}</h4></li>
                                {% endfor %}
							</ul></li>
                        {% endfor %}
					</ul>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
                        {% for item in amenities.values() | sort(attribute="name") %}
                        <li>{{ item.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button>Search</button>
            </section>
        </div>
    </div>
    <footer>Holberton School</footer>
</body>
</html>